{
  "test": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/MediaApiTest",
    "JWT_SECRET": "Your Secret Here"
  },
  "development": {
    "PORT": 3000,
    "MONGODB_URI": "mongodb://localhost:27017/MediaApi",
    "JWT_SECRET": "Your Secret Here"
  }
}
